@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #050505;
  --foreground: #ffffff;

  /* ACID BRUTALISM PALETTE */
  --acid-bg: #050505;
  --acid-text-primary: #ffffff;
  --acid-text-muted: #a1a1aa;
  --acid-lime: #BDFF00;
  --acid-magenta: #FF00FF;
  --acid-gradient: linear-gradient(135deg, var(--acid-lime), var(--acid-magenta));
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #FF5500;
  color: white;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 50;
  pointer-events: none;
  background-image: url('/noise.svg');
  opacity: 0.03;
  mix-blend-mode: overlay;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-space-grotesk), sans-serif;
  letter-spacing: -0.04em; /* tracking-tighter */
  font-weight: 700;
}
